@tailwind base;
@tailwind components;
@tailwind utilities;

.sec{
    background-image:url("/images/cvbackgroundimage1.jpg");
    background-repeat:no-repeat;
    height:900px;
    width:100%;
    background-position:center bottom;
background-blend-mode:color-dodge;
    
    
}

